body{
    background-color: white;
    color: black;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #cac6c6;
    box-shadow: 0 1px 4px #1A6C7A;
    z-index: 100;

}
.navContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 0;
}
.logo{
    font-family: 'Martel', serif;
    font-size: 24px;
    color: white;
    font-weight: 400;
    margin-left: 12px;
}
.logo:hover{
    color: #1A6C7A;
}
#cartIcon{
    font-size: 1.8rem;
    cursor: pointer;
    margin-right: 10px;
}

img{
    width: 100%;
}

.container{
    max-width: 1078px;
    margin: auto;
    width: 100%;
}
section{
    padding: 5rem 0 3rem;

}
.cart{
    position: fixed;
    top: 0;
    right: -100%;
    width: 360px;
    min-height: 100vh;
    padding: 20px;
    background-color: white;
    box-shadow: -2px 0 4px grey;
    transition: 0.3s;
}
.cart.active{
    right: 0;
}
.cartTitle{
    font-family: 'Martel', serif;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: 2rem;
}
.cartBox{
    display: grid;
    grid-template-columns: 32% 50% 18%;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
}
.cartImg{
    width: 100px;
    height: 100px;
    object-fit: contain;
    padding: 10px;
}
.detailBox{
    display: grid;
    row-gap: 0.5rem;
}
.cartProductTitle{
    font-size: 1.5rem;
    text-transform: uppercase;
}
.cartPrice{
    font-weight: 500;
}
.cartQuanity{
    border: 1px solid black;
    outline-color: black;
    width: 2.4rem;
    text-align: center;
    font-size: 1rem;
}
.bx-trash{
    font-size: 24px;
    color: #1A6C7A;
    cursor: pointer;
}
.total{
    display: flex;
    justify-content: flex-end;
    margin-top: 1.5rem;
    border-top: 1px solid black;
}
.totalTitle{
    font-family: 'Italiana', serif;
    font-size: 24px;
    font-weight: 600;
}
.totalPrice{
    font-family: 'Martel', serif;
    font-size: 20px;
    margin-left: 12px;
}
.buyButton{
    font-family: 'Martel', serif;
    display: flex;
    margin: 1.5rem auto 0 auto;
    padding: 12px 20px;
    border: none;
    background-color: #1A6C7A;
    color: white;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
}
.buyButton:hover{
    background-color: black;
    transition: 0.2s;
}
#closeCart{
    position: absolute;
    top: 1rem;
    right: 0.8rem;
    font-size: 2rem;
    color: black;
    cursor: pointer;
}
.sectionTitle{
    font-family: 'Martel', serif;
    font-size: 60px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 1.5rem;
}
.shop{
    margin-top: 2rem;
}
.shopContent{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(220px, auto));
    gap: 1.5rem;
    margin-right: 0;
    transition: 0.3s;
    
}
.shopContent.active{
    margin-right: 45%;
}
.productBox{
    position: relative;
}
.productBox:hover{
    padding: 10px;
    border: 1.5px solid #C00202;
    transition: 0.4s;
}
.productImg{
    width: 100%;
    height: auto;
    margin-bottom: 0.5rem;
}
.productTitle{
    font-family: 'Martel', serif;
    font-size: 24px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 0.5rem;
}
.price{
    font-family: 'Martel', serif;
    font-size: 24px;
}
.bx-cart-add{
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: black;
    color: white;
    padding: 10px;
    cursor: pointer;
}