ul.Menu li{
    float: left;
    line-height: 100px;
    text-align:center;
    padding: 10px; 
    margin-left: 10px;
}
body {
    background: #101b37;
}
ul{
    margin: 0%;
}

ul.Menu li a{
    text-decoration: none; 
    color: #00d5ff;
}

.MenuBar{
    margin-left: 30%;
    font-size: 24px; 
    height: 120px;
    overflow: hidden;
}

ul.Menu li a:hover{
    color: #e41376;
}
/*----------Service Page----------*/
.service{
    width: 500px;
    height: 300px;
    border: 2px solid #00d5ff;
    padding: 10px;
    margin-bottom: 20px;
    
}

h2{
    margin-bottom: 5px;
    color: #00d5ff;
    font-size: 32px;
}
h22{
    margin-bottom: 5px;
    color: #00d5ff;
    font-size: 22px;
}
.AboutMe{
    font-size: 24px;


}
.self{
    width: 225px; 
    height: 250px;
    border: 2px solid darkslategray;
    margin-left: 40%;
    margin-right: 40%;
}
btn {
    background-color: black;
    color: white;
    font-size: 24px;
    padding: 5px;
    text-decoration: none;
    border: 2px solid white;
}

.pfl{
    height:750px;
    width:95%;
    background-color: #101b37;
    border: 3px solid #e41376;
    padding: 10px;
    margin-bottom: 10px;
    overflow: hidden;
    
}

body{
    background-color:#101b37;
    font-family:monospace;
    color: azure;
}
.introduction{
    margin-left: 10%;
}
.introduction p{
    margin-top: 0px; 
    margin-bottom: 10px;
}
CTA{
    font-size: 30px;
    padding: 10px;
    color:#00d5ff;
    text-align: center;
    border: 5px solid #00d5ff;
    border-radius: 50px;
}

CTA:hover{
    font-size: 40px;
    padding: 15px;
    color:#00d5ff;
}


/*-------------Contact Form------------------*/
.container{
    margin-left: 35%;
}

.container ul li{
    margin-bottom: 10px;
}
input[name = fName]{
    border: 2px solid black;
    width: 500px;
    height: 40px;
    padding: 10px;
}
input[name = lName]{
    border: 2px solid black;
    width: 500px;
    height: 40px;
    padding: 10px;
}
input[name = email]{
    border: 2px solid black;
    width: 500px;
    height: 40px;
    padding: 10px;
}
input[name = Phone]{
    border: 2px solid black;
    width: 500px;
    height: 40px;
    padding: 10px;
}
textarea[name= Message]{
    border: 2px solid black;
    width: 500px;
    height: 300px;
    padding: 10px;
}
button[name= submit]{
    width: 100px;
    height: 50px;
    font-size: 24px;
    background-color: #00d5ff;
    border: 2px solid black;
}
button[name= submit]:hover{
    cursor: pointer;
}



